body{
    position: relative;
    top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.centre-tab{
    margin: auto;
    width: 45%;
    padding: 2%;
    text-align: center;
    background-color: seagreen;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
}
.heading{
    color: white;
} 
.centre-tab h4,h5{
    margin: 2%;
}

.result-tab{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5%;
    margin: 5% 1% 4%;
    font-size: 1.5rem;
    background-color: white;
}

.result-tab h4{
    margin: 2%;
    font-size: 1.4rem;
}

.input-tab{ 
    position: relative;
    margin: auto !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid white;
    padding: 5%;
    margin: 1%;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
}

.input-tab .weight-input{
    color: grey;
    color: grey;
    filter: hue-rotate(178deg);
}

.input-tab .gender-tab,.age-tab,.weight-tab,.height-tab{
    position: relative;
    width: 50%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    margin: auto;
    padding: 2% 0 4%;
    text-align: center;
}

.input-tab h5{
 font-size: 1.05rem;
}

.button-tab button{
    border: 1px solid black;
    border-radius: 8px;
    margin: 18% 0 0;
    padding: 8% 30% 4%;
    font-size: 1.2rem;
    color: white;
    background-color: #24A0ED ; 
}

.button-tab button:hover{
    background-color: #0e70ad;
}

.weight-value, .age-value{
    margin: 3% 0;
}
